.foot{
    background-color: #193948 !important;
    color: white;
    height: 250px;
}

.rborder{
    border-right: 2px solid white  ;
}

.tborder{
    border-top: 2px solid white  ;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }